# Tarefa 02

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [79]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [80]:
df = pd.DataFrame()
df['mat'] = df_mat
df['por'] = df_por
df['geo'] = df_geo
df['ing'] = df_ing
df['his'] = df_his
df['fis'] = df_fis
df['qui'] = df_qui

df

    mat  por  geo  ing  his  fis  qui
0     6    7    7    3    1    8    3
1    19   10    0    0    0   11    8
2    14   16    0    5    7    4    4
3    10    7    3    4    0    0    8
4     7    2    2    7    0    9    3
..  ...  ...  ...  ...  ...  ...  ...
95    6    4    7    1    4    9    3
96    8    1    4    6    1    4    3
97   23    5    0    2    4    1    5
98    0   10    3    1    5   10   11
99   11   15    0    1    6    7    2

[100 rows x 7 columns]

In [81]:
# 1) Seu código aqui

df_mat = df_mat['Qt_acertos'].sum()
df_mat = df_mat/100

df_por = df_por['Qt_acertos'].sum()
df_por = df_por/100

df_geo = df_geo['Qt_acertos'].sum()
df_geo = df_geo/100

df_ing = df_ing['Qt_acertos'].sum()
df_ing = df_ing/100

df_his = df_his['Qt_acertos'].sum()
df_his = df_his/100

df_fis = df_fis['Qt_acertos'].sum()
df_fis = df_fis/100

df_qui = df_qui['Qt_acertos'].sum()
df_qui = df_qui/100

#df_mat

df_q = pd.DataFrame([df_mat, df_por, df_geo, df_ing, df_his, df_fis, df_qui], 
                  index = ['mat', 'por', 'geo', 'ing', 'his', 'fis', 'qui'], 
                  columns = ['Qt_acertos'])

df_q

     Qt_acertos
mat       11.85
por        7.23
geo        3.36
ing        3.81
his        3.60
fis        5.32
qui        5.43

In [82]:
np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [83]:
# 2) Seu código aqui
df_f = df_mat + df_por + df_geo + df_ing + df_his + df_fis + df_qui
df_f

    Qt_acertos
0           35
1           48
2           50
3           32
4           30
..         ...
95          34
96          27
97          40
98          40
99          42

[100 rows x 1 columns]

In [84]:
# 3) Seu código aqui
df_f  = (df_f * 100) / 82 
df_f = round(df_f)
df_f

    Qt_acertos
0         43.0
1         59.0
2         61.0
3         39.0
4         37.0
..         ...
95        41.0
96        33.0
97        49.0
98        49.0
99        51.0

[100 rows x 1 columns]

In [85]:
# 4) Seu código aqui
aprovado = list(filter(lambda x: x > 45, df_f['Qt_acertos'] ))

print(f'Quantidade de aprovados: {len(aprovado)}')

Quantidade de aprovados: 61

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [86]:
df_exatas = pd.DataFrame()

df_exatas['mat'] = df_mat
df_exatas['fis'] = df_fis
df_exatas['qui'] = df_qui



df_exatas

    mat  fis  qui
0     6    8    3
1    19   11    8
2    14    4    4
3    10    0    8
4     7    9    3
..  ...  ...  ...
95    6    9    3
96    8    4    3
97   23    1    5
98    0   10   11
99   11    7    2

[100 rows x 3 columns]

In [87]:
lista = []
lista_1 = []
for index, linha in df_exatas.iterrows():
    if linha['mat'] == 0 or linha['fis'] == 0 or linha['qui'] == 0:
      lista.append(linha)
      lista_1.append(index)

df_exatas = pd.DataFrame(lista)

df_exatas

    mat  fis  qui
3    10    0    8
6     6    0    4
10   10    7    0
12   20    0    3
14    7    4    0
20   23    2    0
25    0    4    8
26   11    0    0
27   21    3    0
33   14    6    0
35   11    0   11
49    8    0    8
56    7    0    8
65    1    0    6
66    5    0   10
72   11    0    9
73    1    0   11
74    9    7    0
84   15    0    4
89   23    9    0
92   14    8    0
94    0    3    8
98    0   10   11

In [88]:
df_fi = df_exatas
df_fi.loc[df_fi['mat'] != 0, 'mat'] = 1
df_fi.loc[df_fi['fis'] != 0, 'fis'] = 1
df_fi.loc[df_fi['qui'] != 0, 'qui'] = 1

sum = df_fi.sum()
final = len(df_fi) - sum

final

mat     3
fis    12
qui     9
dtype: int64

In [89]:
#Qual a média desses alunos em história e geografia?

#Monte um DataFrame com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados

In [90]:
df_humanas = df_exatas
df_humanas['his'] = (df_his*100)/8
df_humanas['geo'] = (df_geo*100)/8

df_humanas.pop('mat')
df_humanas.pop('fis')
df_humanas.pop('qui')
df_humanas

     his   geo
3    0.0  37.5
6   62.5  87.5
10  12.5  37.5
12  12.5  37.5
14  12.5  12.5
20  75.0  75.0
25   0.0  87.5
26  87.5  75.0
27  87.5  12.5
33  75.0   0.0
35  37.5  75.0
49  12.5  12.5
56  75.0  87.5
65  37.5  25.0
66  37.5  37.5
72  87.5  37.5
73  37.5  25.0
74  62.5   0.0
84  12.5   0.0
89  75.0  87.5
92  12.5  12.5
94  12.5  25.0
98  62.5  37.5

In [91]:
df_segunda_fase = df_f

df_segunda_fase = df_segunda_fase.drop(lista_1, axis = 0)
index = df_segunda_fase[df_segunda_fase['Qt_acertos'] < 45 ].index
df_segunda_fase.drop(index, inplace = True)

df_segunda_fase

    Qt_acertos
1         59.0
2         61.0
5         61.0
7         60.0
8         71.0
9         48.0
11        52.0
15        49.0
17        63.0
18        61.0
19        45.0
24        61.0
28        48.0
29        54.0
31        66.0
34        55.0
36        68.0
37        63.0
39        60.0
40        57.0
41        45.0
42        59.0
44        52.0
45        59.0
48        67.0
50        52.0
51        51.0
52        50.0
53        55.0
54        45.0
55        50.0
57        49.0
59        49.0
60        59.0
62        56.0
64        46.0
67        56.0
68        52.0
69        48.0
70        76.0
71        65.0
75        51.0
77        65.0
78        80.0
80        55.0
81        67.0
82        52.0
83        51.0
85        45.0
88        61.0
93        68.0
97        49.0
99        51.0

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?

# URL  Invalida
## Erro 403

In [92]:
arquivo = 'https://s3-sa-east-1.amazonaws.com/ckan.saude.gov.br/PNI/vacina/uf/2021-05-23/uf%3DAC/part-00000-63e5bee2-3684-4286-b709-7fe85483b04e.c000.csv'

In [93]:
# 1) Sua solução aqui

In [94]:
# 2)

In [95]:
# 3)

In [96]:
# 3) solução alternativa

In [97]:
# 4)

In [98]:
# 5)

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [99]:
# 1)

In [100]:
# 2)

In [101]:
# 3)

In [102]:
# 4)

In [103]:
# 5)